html {
  font-family: sans-serif;
  background: dimgrey;
  padding: 1rem;
}

body {
  margin: 0 auto;
  background: dimgrey;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: serif;
  color: black;
  margin: 1rem 0;
}
p {
    text-align: left;
}
.ticket {
    background-color: #7094db;
  color: black;
  border: 2px solid black;
    max-width: 750px;
    padding: 200px;
    margin: auto;
    margin-bottom: 15px;
    border-radius: 20px;
}

.content {
    background-color: whitesmoke;
    border: 2px solid black;
    max-width: 650px;
    max-height: 500px;
    padding: 40px;
    text-align: -moz-left;
    margin-bottom: 15px;
    border-radius: 20px;
}